extends ../../layouts/default.pug 
include ../../mixins/box-head.pug

block main 
    .container.my-3
        .row 
            .col-12 
                +box-head("Danh sách sản phẩm") 
        .row  
            if(products.length > 0)
                each item in products 
                    .col-xl-3.col-lg-4.col-md-6.col-6.mb-3 
                        .product-item 
                            .inner-image 
                                img(src=item.thumbnail, alt=item.title)
                            .inner-content 
                                h3.inner-title #{item.title}
                                .inner-new-price #{item.price}$
                                .inner-old-price #{item.newPrice}$
                            .inner-discount
                                span -#{item.discountPercentage}%
            else 
                .col-12.text-align-center 
                    | Danh sách sản phẩm tróng!  
            
            