extends ../../layouts/default.pug 
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug

block main 
    h2.mb-4 #{pageTitle}

    .card.mb-4
        .card-header Bộ lọc và Tìm kiếm 
        .card-body 
            .row 
                .col-6
                    +filterStatus(filterState)

                .col-6 
                    +search(keyword)

    table.table.table-hover.table-sm 
        thead 
            tr 
                th STT
                th Hình ảnh 
                th Tiêu đề 
                th Trạng thái 
                th Giá 
                th Hành động 
        tbody 
            each item, index in products
                tr  
                    td #{index + 1}
                    td 
                        img(src=item.thumbnail
                            alt=item.title
                            width="100px"
                            height="auto"
                        )
                    td #{item.title}
                    td 
                        if(item.status == "active")
                            a(href="#" class="badge badge-success") Hoạt động  
                        else 
                            a(href="#" class="badge badge-danger") Dừng hoạt động
                    td #{item.price} $
                    td 
                        button(class="btn btn-warning btn-sm mr-2") Sửa 
                        button(class="btn btn-danger btn-sm") Xóa 

    
    nav 
        ul(class="pagination") 
            li(class="page-item")
                button(class="page-link") Trang trước
            li(class="page-item")
                button(class="page-link") 1
            li(class="page-item active")
                button(class="page-link") 2
            li(class="page-item")
                button(class="page-link") 3
            li(class="page-item")
                button(class="page-link") Trang sau